<!--Modal só renderiza quando for true-->
<div class="modal-backdrop"
  *ngIf="mostrar" (click)="onBackdropClick($event)">
  <div class="modal-container">
    <div class="modal-content">
      <!--Titulo-->
      <h3 class="modal-titulo">{{ titulo }}</h3>

      <!--Mensagem-->
      <p class="modal-mensagem">{{ mensagem }}</p>

      <!--Botões de ação-->
      <div class="modal-acoes">
        <button type="button" class="btn-cancelar" (click)="onCancelar()">
          {{ nomeBotaoCancelar }}
        </button>

        <button type="button" class="btn-excluir" (click)="onConfirmar()">
          {{ nomeBotaoConfirmar }}
        </button>
      </div>
    </div>
  </div>
</div>
